---
const { link, dropdownBtnText, imgSource, iconRef, classRef } = Astro.props;
---

<div class={classRef}>
  <a href={link}>
    {imgSource && <img src={imgSource} alt="Texto alternativo" />}
    {iconRef && <i class={iconRef}></i>}
    {dropdownBtnText}
  </a>
</div>
